<div id="page1" class="container">
	<!-- Main hero unit for a primary marketing message or call to action -->
	<div class="hero-unit">
		<h1>Single Page Apps Made Simple</h1>
		<p>This is a boilerplate app to help you get up and running quickly with <a href="#" rel="tooltip" title="Check out these tooltips!">BackboneJS</a> and <a href="#" rel="tooltip" title="Sweet!">RequireJS</a>. </p>
		<p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
	</div>

	<!-- Example row of columns -->
	<div class="row">
		<div class="span4">
  			<h2>BackboneJS</h2>
			<img src="images/backbone.png" class="logos" />
   			<p>Backbone.js gives structure to web applications by providing models with key-value binding and custom events, collections with a rich API of enumerable functions, views with declarative event handling, and connects it all to your existing API over a RESTful JSON interface.</p>
  			<p><a class="btn" href="http://www.backbonejs.org">View details &raquo;</a></p>
		</div>
		<div class="span4">
  			<h2>RequireJS</h2>
			<img src="images/requirejs.png" class="logos" />
   			<p>RequireJS is a JavaScript file and module loader. It is optimized for in-browser use, but it can be used in other JavaScript environments, like Rhino and Node. Using a modular script loader like RequireJS will improve the speed and quality of your code.</p>
  			<p><a class="btn" href="http://www.requirejs.org">View details &raquo;</a></p>
		</div>
		<div class="span4">
  			<h2>Twitter Bootstrap</h2>
			<div class="bs_logo logos">B</div>
  			<p>Simple and flexible HTML, CSS, and Javascript for popular user interface components and interactions. Includes support for all major browsers (even IE7!) and, with Bootstrap 2, tablets and smartphones, too.</p>
  			<p><a class="btn" href="http://twitter.github.com/bootstrap/">View details &raquo;</a></p>
		</div>
	</div>
</div>