<form action="" method="post" id="modalForm">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3>Contact Form</h3>
	</div>
	<div class="modal-body">
		<div class="well">
			<ol>
				<li>
					<input type="text" name="email" class="input email" placeholder="name@domain.com" required autofocus />
				</li>
				<li>
					<textarea id="message" name="message" rows="5" placeholder="What would you like to say?" required></textarea>
				</li>
			</ol>
	    </div>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn btn-primary">Send Message</a>
		<a href="#" class="btn" data-dismiss="modal">Close</a>
	</div>
</form>