<div class="alert alert-block alert-error fade in">
	<h4 class="alert-heading">Oh snap! You got an error!</h4>
	<p>There was an error fetching all of the data from our server. Use one of the buttons below to try again or go home.</p>
	<div class="row">
    	<div class="span1">Error:</div>
    	<div class="span6"><strong>{{status}} - {{statusText}}</strong></div>
    </div>
	<p>
	  	<a href="#!/" class="btn btn-danger">Go Home</a>
		<a href="javascript:location.reload();" class="btn refresh">Try Again</a>
	</p>
</div>
	